<%- include partials/Header.ejs %>
<table>
  <th Unique Phone Identifier></th>
  <th></th>

  <% for (locals.something) {%>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% } %>}
</table>
<%- include partials/Footer.ejs %>
