<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
  <script src="/js/start.js" defer></script>
  <link type="text/css" rel="stylesheet" href="/css/start.css" />
</head>
<body>
  <div id = "header">
    <h1>ATI</h1>
    <ul>
      <li><a href="/simloc">Sim Location</a></li>
      <li><a href="/">Remote Eggplant</a></li>
    </ul>


  </div>
</body>
